
<!---------------------- MAIN ------------------------------>


   
    <section class="home grid">
        <div class="left">
            <div class="report-cards grid">
                <div class="card">
                    <p class="card-title">Total Revenue</p>
                    <div class="flex card-content">
                        <div class="card-logo">
                            <img src="/public/images/icons/profits.SVG" alt="">
                        </div>
                        <p style="color: green; font-size: 32px;font-weight: 800;">5000</p>
                    </div>
                </div>
                <div class="card">
                    <p class="card-title">Total Expenses</p>
                    <div class="flex card-content">
                        <div class="card-logo">
                            <img src="/public/images/icons/loss.SVG" alt="" width="60px">
                        </div>
                        <p style="color: red; font-size: 32px;font-weight: 800;">5000</p>
                    </div>
                </div>
                <div class="card">
                    <p class="card-title">Total family</p>
                    <div class="flex card-content">
                        <div class="card-logo">
                            <img src="/public/images/icons/people.SVG" alt="" width="60px">
                        </div>
                        <p style="color: orange; font-size: 32px;font-weight: 800;">5000</p>
                    </div>
                </div>
            </div>

            <div class="chart card">
                af
            </div>
        </div>
        <div class="right">
            <div class="card">
                sdh

            </div>
        </div>


    </section>
