<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo/icon.png" type="image/x-icon">
    <title>Admin</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>

    <%- include('../includes/adminNavbar.ejs') %>

        <main class="main" id="adminMain">
            <div class="page-title">
                <h1 style="text-transform: capitalize">
                    Dashboard
                </h1>
            </div>
            <div class="direction">
                <ul class="flex">
                    <li>Home</li>
                    <li style="text-transform: capitalize">
                        Dashboard
                    </li>
                </ul>
            </div>
            <section class="home grid">
                <div class="left">
                    <div class="report-cards grid">
                        <div class="card">
                            <p class="admin-titles">₹ Total sales</p>
                            <div class="flex card-content">
                                <div class="card-logo">
                                    <img src="/images/icons/profits.SVG" alt="">

                                </div>
                                <p style="color: green; font-size: 32px;font-weight: 800;" id="sales-count">0</p>
                            </div>
                        </div>
                        <div class="card">
                            <p class="admin-titles">₹ Total Returns</p>
                            <div class="flex card-content">
                                <div class="card-logo">
                                    <a href="/admin/employees">
                                        <img src="/images/icons/loss.SVG" alt="" width="60px">
                                    </a>

                                </div>
                                <p style="color: red; font-size: 32px;font-weight: 800;" id="admin-count">0
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <p class="admin-titles">₹ Total Revenue</p>
                            <div class="flex card-content">
                                <div class="card-logo">
                                    <img src="/images/icons/profit.png" alt="" width="60px">
                                </div>
                                <p style="color: rgb(4, 243, 0); font-size: 32px;font-weight: 800;" id="employessCount">
                                    5000</p>
                            </div>
                        </div>
                    </div>

                    <div class="chart card">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
                <div class="right">
                    <div class="card">
                        <p class="admin-titles">Notifications</p>
                        <ul>
                            <div class="flex" style="justify-content: space-between;">
                                <li class="alert-meassage danger" id="alert-meassage">
                                    <i class='bx bxs-bell-ring'></i>
                                    <span>&lt;5</span>
                                </li>
                                <li class="alert-meassage warning" id="alert-meassage">
                                    <i class='bx bxs-bell-ring'></i>
                                    <span>&lt;10</span>
                                </li>
                            </div>
                            <% lowStocks.forEach(item=>{%>
                                <li class="alert-meassage <%if(item.stock >5){%>warning <%}else{%> danger <%}%>"
                                    id="alert-meassage">
                                    <i class='bx bxs-bell-ring'></i>
                                    <span>
                                        <%= item.shortName %>
                                    </span>
                                </li>
                                <%})%>
                        </ul>


                    </div>
                    <div class="card">
                        <canvas id="line-cart"></canvas>
                    </div>
                </div>


            </section>

        </main>

        <script src="https://kit.fontawesome.com/6819033383.js" crossorigin="anonymous"></script>
        <script src="/js/main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            const ctx = document.getElementById('myChart');
            const ctx2 = document.getElementById('line-cart');


            /*-----------------------------*/
            let employessCount = document.getElementById('employessCount')
            let salesCount = document.getElementById('sales-count')
            let adminCount = document.getElementById('admin-count')
            let weeklySales;
            fetch('/api/admindashboard')
                .then(res => res.json())
                .then(data => {
                    console.log(data, 868767);
                    employessCount.innerText = data.totalIncome - data.salesReturns
                    salesCount.innerText = data.totalIncome
                    adminCount.innerText = data.salesReturns
                    weeklySales = data.weeklySales


                    let xAxes = []
                    let yAxes = []
                    weeklySales.forEach(sales => {
                        xAxes.unshift(sales._id)
                        yAxes.unshift(sales.amount)
                    });

                    new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: xAxes,
                            datasets: [{
                                backgroundColor: "rgba(0,255,0,1.0)",
                                borderColor: "rgba(0,255,0,0.5)",
                                data: yAxes,
                                label: "Orders"
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }

                    })
                    var xValues = [];
                    var yValues = [];
                    let test=data.returnsReports
                    test.forEach(item=>{
                        xValues.unshift(item._id)
                        yValues.unshift(item.amount)
                    })
                    console.log(test);
                    

                    new Chart(ctx2, {
                        type: "bar",
                        data: {
                            labels: xValues,
                            datasets: [{
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.5)',
                                ],
                                borderColor: [
                                    'rgb(255, 99, 132)',
                                ],
                                borderWidth: 1,
                                data: yValues,
                                label: "order return / cancel"
                            }]
                        },

                    });






                }).catch(err => {
                    console.log(err);
                })
            console.log(weeklySales);
        </script>

</body>


</html>