<%- include('../includes/homehead') %>

<section class="wishlist-sec">
    
    <div class="left">
        
        
        <h2>WISH LIST <span class="green-text cart-count"><span class="count">5</span> items</span></h2>
        <figure class="cart-item flex">
            <div class="left flex">
                <div class="cart__img ">
                    <img src="/uploads/product/63de012951a7a7985fb94218/Orange-19.png" alt="" width="100%">
                </div>
            </div>
            
            <div class="right flex">
                <div class="cart__title-box">
                    <p class="cart__title">TNAME</p>
                </div>
                <p class="unit-price">150 <span>per kg</span></p>
                
                
                <div>
                    <a href="" class="btn confirm">MOVE TO CART</a>
                </div>
                <p class="sub-total">₹<span>150</span></p>
            </div>

        </figure>
        <!--  -->

        <figure class="cart-item flex">
            <div class="left flex">
                <div class="cart__img ">
                    <img src="/uploads/product/63de012951a7a7985fb94218/Orange-19.png" alt="" width="100%">
                </div>
            </div>
            
            <div class="right flex">
                <div class="cart__title-box">
                    <p class="cart__title">TNAME</p>
                </div>
                <p class="unit-price">150 <span>per kg</span></p>
                <div>
                    <a href="" class="btn confirm">MOVE TO CART</a>
                </div>
                <p class="sub-total">₹<span>150</span></p>
                
            </div>

        </figure>

        
    </div>
    <div class="right">
       
         8 
    </div>
</section>



<%- include('../includes/homebottom') %>