
 <!-- IT SHOULD BE INSIDE THE Form -->



<div id="confirm-wrap">
    <div class="card confirm-box flex" id="confirm-box">
        <div class="confirm-box-img">
            <img src="/images/logo/icon.png" alt="logo">
        </div>
        <h2 id="confirmBox-alert-message">Are you sure?</h2>
        <div class="confirm-box-btns flex">
            <a class="btn cancel" id="closeBtn">no</a>
            <input type="button" class="btn confirm" value="Yes" id="submitBtn">
            <a href="" class="btn delete" id="deleteConfBtn">Delete</a>
        </div>
    </div>
</div>