<section class="footer-sec">
    <img src="images/logo/bg-footer-4.png" width="100%">
    <footer class="d-grid">
        <div class="address footer-div d-flex align-items-center">
            <address>
                <p><b>OPENING HOURS</b></p>
                <P><span>Monday To Friday</span> : 8.00 AM - 8.00 PM</P>
                <P><span>Saturday</span> : 7.30 AM - 9.30 PM</P>
                <P><span>Sunday</span> : 7.00 AM - 10.00 PM</P>
            </address>
        </div>
        <div class="footer-div d-flex align-items-center">
            <div class="logo" style="text-align: center;">
                <img src="images/logo/icon.png" alt="" width="100">
                <p class="logo-name">One Roof <br> Groceries</p>
            </div>
        </div>
        <div class="footer-div d-flex align-items-center">
            <div>
                <p><b>CONTACT US</b></p>
                <P><span>Address</span> : chelari</P>
                <P><span>Email</span> : ragesha2017@gmail</P>
                <P><span>phone</span> : +91 123 456 789</P>
            </div>
        </div>
    </footer>
</section>