<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="refresh" content="3"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Roof Grocerires</title>
    <link rel="icon" href="/images/logo/icon.png" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">

</head>

<body>
    <section class="login-section flex">

        <div class="login-container">
            <div class="left flex">
                <div class="logo flex col" style="flex-direction: column; align-items: center">
                    <img src="/images/logo/icon.png" alt="logo" width="100px">
                    <p class="logoname">One Roof Groceries</p>
                </div>
                <img src="/images/backgrounds/login-bg.jpg" alt="" class="login-bg">
            </div>
            <div class="right flex">
                <div class="login-wrap col">
                    <h2 class="green-text form-title" id="form-title">Change password</h2>
                    <div class="form-wrap">
                        <form action="password" method="POST">
                            <div id="signupForm">
                                <div class="input-container">

                                    <div class="input-feild">
                                        <label for="password">Password</label>
                                        <input type="password" name="password" id="password" class="form-input">
                                    </div>
                                    <div class="input-feild">
                                        <label for="confirmpassword">Confirm password</label>
                                        <input type="password" name="confirmpassword" id="confirmpassword"
                                            class="form-input">
                                    </div>
                                </div>
                                <div id="alert-box" style="display:none">
                                    <p class="alertmessage" id="alertmessage"></p>
                                    <div id="close-btn">
                                        <i class='bx bx-x-circle'></i>
                                    </div>
                                </div>
                               <div class="btns-wrap ">
                                    <a href="/account/signin" class="btn cancel">Cancel</a>
                                    <input type="button" class="btn confirm" value="Confirm" id="submitBtn"> 
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <script>
        let password = document.getElementById('password');
        let confirmpassword = document.getElementById('confirmpassword');
        let alertBox = document.getElementById('alert-box');
        let closeBtn = document.getElementById('close-btn');
        let alertmessage = document.getElementById('alertmessage');
        let messageArray = [];
        let submitBtn = document.getElementById('submitBtn');

        submitBtn.onclick = ()=> {
            messageArray = []
            if (password.value == '' || password.value.length < 7) {
                messageArray.push('password sholud at least eight character')
            } else if (password.value != confirmpassword.value) {
                messageArray.push('password and confirm password should be equal')
            }
            sendMessage(messageArray);
            if(messageArray == ''){
                submitBtn.type = 'submit';
            }       
        }

        //ERROR message
        function sendMessage(message) {
            alertBox.style.display = 'flex';
            alertmessage.innerText = message[0];
            console.log(message);
        }
        // message close button
        closeBtn.addEventListener('click', () => {
            alertBox.style.display = 'none';
        })
    </script>
</body>

</html>