
<section>
    <h2 class="section-heading">Vegitables & Fruits</h2>
    <div class="products grid">
        <div class="card-wrap">
            <span class="offer">58% off</span>
            <div class="img">
                <img src="/uploads/product/fruits/fresh/banana.jpg" alt="">
            </div>
            <div class="card-body">
                <h3 class="product-title">Raw Mango</h3>
                <div class="weight">500 Gm</div>
                <div class="price flex">
                    <p class="new">RS 50.<span>00</span></p>
                    <strike class="old">60.<span>00</span></strike>
                </div>
                <div class="cart-btns">
                    <div class="buy-btn flex">
                        <i class='bx bxs-cart-download'></i>
                        <p>ADD TO CART</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-wrap">
            <span class="offer">58% off</span>
            <div class="img">
                <img src="/uploads/product/fruits/fresh/banana.jpg" alt="">
            </div>
            <div class="card-body">
                <h3 class="product-title">Raw Mango</h3>
                <div class="weight">500 Gm</div>
                <div class="price flex">
                    <p class="new">RS 50.00</p>
                    <strike class="old">60.00</strike>
                </div>
                <div class="cart-btns">
                    <div class="buy-btn flex">
                        <i class='bx bxs-cart-download'></i>
                        <p>ADD TO CART</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


</section>