<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/images/logo/icon.png" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bad request</title>
    <link rel="stylesheet" href="/css/redirect.css">
</head>
<body>
    <div class="container">
        <div class="err-outer-bdy">
            <div class="err-body">
                <div class="err-top">
                    <div class="cloud-bdy">
    
                        <div class="cloud">
                            <div class="cloud-base">
                                <div class="cloud-big"></div>
                                <div class="cloud-small"></div>
                            </div>
                            <div class="thunder">
                                <div class="thunder1"></div>
                                <div class="thunder2">
                                    <div></div>
                                </div>
                            </div>
                            <div class="rain-base">
                                <div class="rain">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="rain">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="rain">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="rain">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="rain">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
    
                    </div>
                    <div class="sun"></div>
                    <div class="hills">
                        <div class="hillR"></div>
                        <div class="hillY"></div>
                        <div class="hillB"></div>
                    </div>
                </div>
                <div class="err-bottom">
                    <div class="phone">
                        <div class="screen">
                            <h2>404</h2>
                        </div>
                    </div>
                    <div class="phone-btn1"></div>
                    <div class="phone-btn2"></div>
                </div>
            </div>
            <div class="message">
                <h1>Rediecting Webpage</h1>
                <hr>
                <p style="text-align: center"><b>within <span id="timerDisplay"></span> seconds</b></p>
            </div>
        </div>
    </div>

    <script src="/js/main.js"></script>
    <script>
        timer(5000,'/')
    </script>

</body>
</html>