<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="refresh" content="3"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Roof Grocerires</title>
    <link rel="icon" href="/images/logo/icon.png" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">

</head>

<body>
    <section class="login-section flex">

        <div class="login-container">
            <div class="left flex">
                <div class="logo flex col" style="flex-direction: column; align-items: center">
                    <img src="/images/logo/icon.png" alt="logo" width="100px">
                    <p class="logoname">One Roof Groceries</p>
                </div>
                <img src="/images/backgrounds/login-bg.jpg" alt="" class="login-bg">
            </div>
            <div class="right flex">
                <div class="login-wrap col">
                    <h2 class="green-text form-title" id="form-title">Sign Up</h2>
                    <div class="form-wrap">
                        <form action="signup" method="POST">
                            <div id="signupForm">
                                <div class="input-container">
                                    <div class="input-feild">
                                        <label for="name">Name</label>
                                        <input type="text" name="name" id="name" class="form-input">
                                    </div>
                                    <div class="input-feild">
                                        <label for="phoneNumber">Number</label>
                                        <input type="number" name="phone" id="phoneNumber" class="form-input">
                                    </div>
                                    <div class="input-feild">
                                        <label for="email">Email</label>
                                        <input type="email" name="email" id="email" class="form-input">
                                    </div>
                                    <div class="input-feild">
                                        <label for="password">Password</label>
                                        <input type="password" name="password" id="password" class="form-input">
                                    </div>
                                    <div class="input-feild">
                                        <label for="confirmpassword">Confirm password</label>
                                        <input type="password" name="confirmpassword" id="confirmpassword"
                                            class="form-input">
                                    </div>
                                </div>
                                <div id="alert-box" style="display:<%= (message)? 'flex' : 'none' %>">
                                    <p class="alertmessage" id="alertmessage">
                                        <% if(message){ %>
                                            <%= message %>
                                                <% } %>
                                    </p>
                                    <div id="close-btn">
                                        <i class='bx bx-x-circle'></i>
                                    </div>
                                </div>


                                <label><a href="signin">Already have account?</a></label>
                                <div class="btns-wrap ">
                                    <a href="/" class="btn cancel">Cancel</a>
                                    <input type="button" class="btn confirm" value="Confirm" id="submitBtn">
                                </div>
                            </div>
                            

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <script>


        let closeBtn = document.getElementById('close-btn')
        let alertBox = document.getElementById('alert-box')
        let submitBtn = document.getElementById('submitBtn')
        let messageDisplay = document.getElementById('alertmessage')


        function sendMessage(message) {

            alertBox.style.display = 'flex'
            messageDisplay.innerText = message[0]

        }
        // form  validation
        submitBtn.onclick = () => {
            let formInputs = document.querySelectorAll('.form-input')
            let messageArray = []
            console.log(formInputs);
            formInputs.forEach(element => {
                if (element.value == '') {
                    messageArray.push(`${element.id} should not be empty`)
                } else if (element.value == 'phone' && element.value.length < 4) {
                    messageArray.unshift('name should not be atleast five characters')
                } else if (element.id == 'phone' && element.value.length > 9) {
                    messageArray.unshift('phone should be valid');
                } else if (element.id == 'email') {
                    let emailvalidationResponse = validateEmail(element.value)
                    if (!emailvalidationResponse) {
                        messageArray.unshift('email should be valid');
                    }
                } else if (element.id == 'password' && element.value.length < 7) {
                    messageArray.push('password should be atleast 8 character')
                }
            })
            if(messageArray != ''){

                sendMessage(messageArray);
            }
            if (messageArray == '') {
                submitBtn.type = 'submit'
            }
        }

        //email validation
        function validateEmail(email) {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(email).toLowerCase());
        }
        //ERROR message
        function sendMessage(message) {
            alertBox.style.display = 'flex'
            alertmessage.innerText = message[0]
        }
        closeBtn.addEventListener('click', () => {
            alertBox.style.display = 'none  '
        })
    </script>
</body>

</html>