:root {
  --primary-blue: #012970;
  --title-blue: #0447ba;
  --secondary-blue: #717ff5;
  --link-clr: #4154f1;
  --primary-light: #899bbd;
  --metal: #51678f;
}

/*--------- BASIC ----------*/

body {
  font-family: 'Open Sans', sans-serif;
  background: #f6f9ff;
  color: #444444;
}
a {
  color: var(--link-clr);
}
li a:hover {
  color: var(--secondary-blue);
}
.bg-info-light {
  background-color: #cff4fc;
  border-color: #cff4fc;
}
.bg-dark-light {
  background-color: #d3d3d4;
  border-color: #d3d3d4;
}
.form-inp {
  width: 100%;
  padding: 0.5rem;
}
.admin-titles {
  color: var(--title-blue);
  font-weight: 600;
  padding: 10px 0;
}
#confirm-wrap {
  display: none;
}
.download{
  padding: .5rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between ;
  font-size: 2rem;
}
.download-icon{
  margin: 0 10px;
  cursor: pointer;
}
.border{ 
  margin-bottom: 10px;
  border-bottom: 2px solid #7b7ba0;
}
/*----------*/
.card {
  box-shadow: 0px 0px 20px rgb(1 41 112 / 10%);
  background-color: var(--white);
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 0px;
}
.delete {
  background-color: red;
}
form {
  position: relative;
}
.status{
  text-align: center;
  /* background-color: rgba(255, 1, 1, 0.201); */
  /* border: 1px solid red; */
  padding: 5px 15px;
  width: 100px;
  border-radius: 1rem;
  /* color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.status > div{
  width: 5px;
  height: 5px;
  
  border-radius: 50%;
  
}
/*------------ HEADER ---------------*/
.header {
  position: fixed;
  width: 100%;
  align-items: center;
  transition: all 0.5s;
  z-index: 997;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background-color: var(--white);
  padding: 1rem 2rem;
  top: 0;
  left: 0;
}
.logo-wrap {
  justify-content: space-between;
  align-items: center;
  width: 300px;
}
.logo-wrap .logo {
  align-items: center;
}
.logo-wrap .logo span {
  color: var(--primary-blue);
  font-size: 18px;
  font-weight: 800;
  margin: 0 10px;
}
@media screen and (max-width: 768px) {
  .logo-wrap .logo span {
    display: none;
  }
  .search-form {
    align-items: center;
  }
}
.header .toggle-btn {
  font-size: 24px;
  padding-left: 10px;
  cursor: pointer;
  color: var(--primary-blue);
}
.search-wrap {
  border: 1px solid rgba(1, 41, 112, 0.2);
  padding: 0 10px;
  border-radius: 3px;
  margin: 0 1rem;
  align-items: center;
}
.search-wrap input {
  padding: 10px;
  outline: none;
}
.search-wrap input,
.search-wrap button {
  border: none;
  background-color: transparent;
}
.header .search-bar {
  min-width: 360px;
  padding: 0 20px;
}
.header .search-wrap:hover {
  outline: none;
  box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
  border: 1px solid rgba(1, 41, 112, 0.3);
}
.header .search-wrap button i {
  color: #012970;
}
@media (max-width: 1199px) {
  /*.header .search-bar {
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        padding: 20px;
        box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
        background: var(--white);
        z-index: 9999;
        transition: 0.3s;
        visibility: hidden;
        opacity: 0;
    } */

  .header .search-bar-show {
    top: 60px;
    visibility: visible;
    opacity: 1;
  }
}
.header-profile {
  margin-left: auto;
}
.profile-logo {
  align-items: center;
}
.profile-logo img {
  height: 35px;
  width: 35px;
  margin-right: 10px;
  border-radius: 50%;
}
.profile-logo span {
  font-size: 26px;
  font-weight: 700;
}

/*--------- ASIDE --------------*/
.sidebar {
  position: fixed;
  left: 0;
  top: 80px;
  bottom: 0;
  z-index: 996;
  width: 300px;
  padding: 20px;
  overflow-y: auto;
  transition: all 0.3s;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgb(1 41 112 / 10%);
  background-color: var(--white);
}
@media (max-width: 1199px) {
  .sidebar {
    left: -300px;
  }
}
.sidebar.sidebar-active {
  left: -300px;
}
@media screen and (max-width: 1199px) {
  .sidebar.sidebar-active {
    left: 0px;
  }
}
.sidebar-nav .nav-item {
  margin-bottom: 5px;
}
.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: var(--primary-blue);
  transition: 0.3;
  padding: 15px;
  border-radius: 5px;
}
.sidebar-nav .nav-link .bx {
  font-size: 24px;
  margin: 0 10px;
}
.nav-link.active,
.sidebar-nav .nav-link:hover,
.nav-link.active {
  color: var(--link-clr);
  background: #f6f9ff;
}
/*----------- MAIN -------------*/
#adminMain {
  margin-top: 80px;
  padding: 20px 30px;
  transition: all 0.3s;
  margin-left: 300px;
  width: calc(100% - 300px);
}
.main .contents {
  padding-top: 1rem;
}
@media screen and (max-width: 1199px) {
  #adminMain {
    padding: 20px;
    margin-left: 0;
    width: 100%;
  }
}
@media screen and (min-width: 119px) {
  #adminMain.sidebar-active {
    margin-left: 0;
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  #adminMain {
    margin-top: 8.5rem;
    padding: 10px;
    font-size: 10px;
  }
}
.page-title {
  color: var(--primary-blue);
}
.page-title h1 {
  margin: 10px 0;
}
.direction li {
  position: relative;
  padding-right: 15px;
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-light);
}
.direction li::after {
  position: absolute;
  content: '/';
  right: 5px;
}
.direction li:last-child {
  color: var(--metal);
}
.direction li:last-child::after {
  content: '';
}

/*--------- HOME --------*/
.home {
  padding-left: 0;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
}
.report-cards {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 10px;
}
@media (max-width: 768px) {
  .home {
    grid-template-columns: 1fr;
    padding: 0;
  }
}
.card .card-title {
  margin-bottom: 10px;
  font-size: 18px;
  color: var(--primary-blue);
}
.card .card-content {
  justify-content: space-around;
  margin-top: 10px;
  align-items: center;
}
.card .card-content .card-logo {
  width: 70px;
  height: 70px;
}
@media screen and (max-width: 425px) {
  .header {
    flex-direction: column;
  }
  .header-profile {
    display: none;
  }
  .sidebar {
    top: 120px;
  }
  .logo-wrap {
    margin-bottom: 10px;
  }
  .search-wrap {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .table-hide {
    display: none;
  }
}
/*-------------- PROFILE ---------------*/
.profile-page {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
@media screen and (max-width: 768px) {
  .profile-page {
    display: block;
  }
}
.profile-btn {
  padding: 0.5rem 0.75rem;
  border: 3px solid;
  border-color: transparent;
  background-color: transparent;
  border-bottom-color: var(--gray);
  cursor: pointer;
}
.user-details-wrap ul {
  display: flex;
}
@media screen and (max-width: 420px) {
  .user-details-wrap ul {
    font-size: 10px;
    display: block;
  }
  .profile-btn {
    display: block;
  }
}
.profile-btn:hover,
.profile-btn.active {
  background-color: #f6f9ff;
  color: var(--link-clr);
  border-bottom-color: var(--link-clr);
}
.user-details {
  display: none;
  padding: 10px 0;
}
.user-details.active {
  display: block;
}
.user-profile-title {
  color: var(--primary-blue);
  font-weight: 700;
  padding: 20px 0;
}
.about {
  font-style: italic;
  font-size: 12px;
}
.profile-field {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  font-size: 15px;
}
@media screen and (max-width: 450px) {
  .profile-field {
    display: block;
  }
}
.field-title {
  color: var(--metal);
}
/*/----------- PRODUCT EDIT PAGE ----------/*/
.productEdit-page {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2rem;
}
.productEdit-page .card {
  padding: 2rem;
}
.productField-wrap .field-title {
  display: block;
  font-weight: 700;
  color: black;
  margin-top: 10px;
}
.productPage-field {
  padding: 0.5rem;
  font-size: 18px;
  margin: 10px 0;
  width: 100%;
  border-radius: 5px;
}
.productPage-wrap .description {
  color: var(--metal);
  font-size: 12px;
  /* margin: 10px 0; */
}
.price {
  justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}


/*-------- PROFILE CARD ------------*/

.profile-card {
  min-height: 300px;
  grid-template-columns: 2fr 1fr;
  border-radius: 5px;
  overflow: hidden;
  padding: 0 !important;
}
.profile-img-wrap img {
  border-radius: 50%;
  border: 10px solid var(--blue);
  border-left-color: transparent;
  width: 100px;
}
.profile-card .profile-name {
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 800;
  font-family: 'arial';
}
.profile-left {
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  justify-content: space-around;
}
.profile-right {
  grid-template-rows: repeat(3, 1fr);
  row-gap: 3px;
}
.profile-right div {
  background-color: var(--blue);
  color: var(--white);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.crud-btn {
  border: 1px solid;
  padding: 0.3rem 0.75rem;
  display: block;
  text-align: center;
  /* margin: 5px auto; */
  border-radius: 1rem;
  text-decoration: none;
  font-weight: 800;
  transition: 0.3s;
}
.crud-btn:hover {
  background-color: var(--blue);
  color: var(--white);
}

/*---------------------- USER LIST ----------------------------*/
#table_id {
  width: 100%;
}
#table_id_filter {
  border: 2px solid gray;
  border-radius: 1rem;
  outline: none;
  padding: 5px 20px;
  color: gray;
  margin-bottom: 10px;
}
#table_id_filter input {
  border: none;
  outline: none;
}

.user img {
  position: relative;
  width: 40px;
  overflow: hidden;
}
.content-section .userBox {
  position: relative;
}
.content-section .userBox-title {
  text-align: center;
  color: var(--blue);
  text-decoration: underline;
  margin: 1rem;
}
.content-section .userBox .users:nth-child(2n + 1) {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.018);
  border-radius: 0.5rem;
  transition: 0.5s;
  margin-bottom: 10px;
}
.content-section .userBox .users:hover {
  background-color: #287aff29;
}
.users a {
  cursor: pointer;
  border: 1px solid;
}
@media screen and (max-width: 768px) {
  .user a {
    border: none;
  }
}

/*----------------add user ----------------*/

.add-btn {
  padding: 1rem;
  color: var(--white);
  border-radius: 0.2rem;
  max-height: 55px;
  margin: auto;
  display: flex;
  align-items: center;
  border: none;
}
.add-btn .bx {
  display: none;
}
@media screen and (max-width: 425px) {
  .add-btn {
    color: var(--light-green);
    background-color: transparent;
  }
  .add-btn .bx {
    display: block;
    font-size: 2.5rem;
  }
  .add-btn span {
    display: none;
  }
}

.addUser-section .edit-wrap ul {
  flex-direction: column;
  margin: auto;
  /* position: relative; */
  align-items: center;
}

.addUser-section .edit-wrap ul li {
  margin: 10px auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.addUser-section .edit-wrap ul li label {
  min-width: 100px;
}

.addUser-section input[type='submit'] {
  color: var(--white);
  width: 100%;
  padding: 0.5rem;
  background-color: var(--blue);
  border: 0;
  cursor: pointer;
}
.hid {
  visibility: hidden;
}
.addUser-section .access-wrap {
  justify-content: space-between;
  width: 90%;
}
.upload-with-name {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 768px) {
  .upload-with-name {
    grid-template-columns: 1fr;
  }
}
/*------------- CATEGORY ----------------------*/
.category-sec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.add-category-form {
  display: grid;
  /* grid-template-columns: repeat(autofit, minmax(30px , 1fr)) */
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.image-sec {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.upload-wrap {
  position: relative;
}
.edit-icon {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 30px;
  padding: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: var(--white);
  border: none;
  cursor: pointer;
}
.image-sec img {
  max-width: 250px;
  /* min-width: 100px; */
}
.form-sec li {
  flex-direction: column;
  justify-content: space-around;
}
.form-sec li .form-inp {
  border-radius: 5px;
  margin-bottom: 1rem;
}
#description {
  min-height: 100px;
}

/*------------- LAYOUTS ---------------*/

.slider-wrap {
  display: flex;
  overflow-x: scroll;
  gap: 1rem;
  margin-top: 1rem;
}
.slider-wrap::-webkit-scrollbar {
  background-color: transparent;
}
.slider-wrap::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: rgba(181, 181, 181, 0.519);
}
.slider-image {
  min-width: 80%;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}
/*--------- Messages -----------*/

.message-sec {
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  height: 100%;
}
.message-sec .left {
  height: 100%;
}
.inbox-wrap {
  height: 80px;
  overflow: hidden;
  transition: 0.5s ease;
}
.inbox-wrap.active {
  height: auto;
}
.inbox-head {
  justify-content: space-between;
  align-items: center;
}
.inbox-head .profile-wrap {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  filter: drop-shadow(0 0 5px rgba(0, 132, 255, 0.5));
  border: 1px solid var(--white);
}
.inbox-head .name {
  font-weight: 600;
  margin-left: 1rem;
  text-transform: capitalize;
}
.inbox-head .bx {
  font-size: 20px;
}
.indox-body {
  margin: 1rem 0;
  box-shadow: inset 0 0 10px rgb(1 41 112 / 10%);
  padding: 1rem;
  height: auto;
  border: none;
  outline: none;
}

.message-sec .right .input-feild label {
  display: block;
}
.message-sec .right .input-feild .form-input {
  width: 100%;
  padding: 0.5rem;
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: var(--link-clr);
  margin-bottom: 1rem;
  outline: none;
  caret-color: var(--blue);
}
.mail-body {
  width: 100%;
  resize: vertical;
  height: 350px;
}
.cards-warp {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
}
.card2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.card2 .bx {
  font-size: 60px;
  color: #4154f1;
}

.productEdit-page .description {
  font-size: 12px;
  font-style: italic;
  color: var(--metal);
}
/*---------- PRODUCTS ----------------*/
.productList .card {
  margin: 0;
}
.productList tbody tr:hover {
  background-color: #287aff2f;
  cursor: pointer;
}
.condtents {
  position: relative;
}
.edit-product-wrap {
  position: absolute;
  top: 0;
  background-color: #f6f9ff;
  transform-origin: 50% 50%;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

/*--------- ALERT BOX -----------*/
#confirm-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 10;
}
.confirm-box {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 350px;
  height: 250px;
}
.confirm-box .btn {
  margin: 0 10px;
}


/*-------- COUPON ---------*/
.condtents {
  position: relative;
}
#createCoupon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#createCoupon .edit-wrap ul li label {
  min-width: 150px;
}
#createCoupon .message-wrap {
  margin-top: 1rem;
}

/*-------- SUPPORT TEAM -----------*/
.customerImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
  overflow: hidden;
}
#customer thead {
  display: none;
}
/*-----product preview---------*/
.preview-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
#preview-side {
  max-width: 250px;
  margin: 0 auto;
  min-height: 100px;
  position: relative;
  overflow: hidden;
  
}
#preview-side::before {
  content: '';
  position: absolute;
  top: -38px;
  left: -50px;
  width: 40%;
  height: 150%;
  background-color: var(--after, red);
  transform: rotate(25deg);
}
.preview-wrap{
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
.preview-wrap #preview-image{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .productEdit-page {
    grid-template-columns: 1fr;
  }.preview-grid{
    grid-template-columns: 1fr;
  }
  .profile-card {
    grid-template-columns: 1fr;
  }
  #preview-side{
    margin: 0;
  }
  
}
/*----------------TABLES ------------------------*/
table{

  width: 100%;
  margin-bottom: 1rem;
}
.table th{
  text-transform: uppercase;
  font-size: 14px;
}
.table tr{
  font-family: monospace;
}
.table td{
  font-size: 12px;
}
.table tr:hover{
  background-color: #0447ba;
}
.table tr th{
  font-size: 14px;
}
.admin-order-btn{
  color: rgb(70, 70, 87) !important;
  border: none !important;
  font-size: 1rem;
}
.admin-order-btn:hover{
  color: var(--link-clr) !important;
}
.table2{
  border-radius: .5rem;
  overflow: hidden;
}
.table2 th{
  padding: 5px 7px;
  font-family: serif;
  text-transform: capitalize;
}
.table2 td{
  padding: 5px 7px;
  text-align: center;
}
.table-image{
  max-width: 75px;
}
@media  screen and (min-width: 768px){
  .table, .table th, .table td{
    /* font-size: 12px; */
    /* padding-top: 0 !important; */
  }
  
}
/*--------------- INVOICE ----------------------*/
.invoice-wrap{
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: .8fr 2fr;
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .invoice-wrap{
    grid-template-columns: 1fr;
  }
  .invoice-wrap .left{
    display: none;
  }
}
.invoice-wrap h6 {
	color: #9aa3ab;
	font-weight: 300;
	line-height: 15px;
}

.invoice-wrap h5 {
	color: #99a1aa;
	font-weight: 300;
}

.invoice-wrap h4 {
	font-weight: 600;
	font-size: 14px;
	color: #97a2ad
}

.invoice-wrap h3 {
	color: #58636a;
	font-weight: 500;
}

.invoice-wrap .left {
	background-color: #1882ef;
	border-radius: 5px 0 0 5px;
	color: #ffffff;
}

.invoice-wrap .info-box {
	padding-top: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

.invoice-wrap .receipt {
	font-weight: 300;
	font-size: 15px;
	line-height: 26px;
	padding-top: 10px;
  padding-bottom: 15px;
	border-bottom: 1px solid #3895f4;
}

.invoice-wrap .receipt > span {
	font-weight: 500;
	font-size: 21px;
}
.invoice-addr{
  font-family: 'Courier New', Courier, monospace;
}
.invoice-addr li{
  display: grid;
  grid-template-columns: .5fr 1fr;
}
.invoice-addr li  span{
  margin-right: 10px;
  display: block;
  width: 55px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: var(--metal);
}
.invoice-wrap .field-wrap {
	border-bottom: 1px solid #3895f4;
	overflow: hidden;
	padding: 15px;
}

.invoice-wrap .field-wrap > p {
	font-weight: 300;
	font-size: 13px;
	line-height: 26px;
	margin-top: 0px !important;
}

.invoice-wrap .field-wrap > i {
	margin-top: 4px;
	margin-right: 13px;
	color: #b4d8fc;
}

.invoice-wrap span {
	font-weight: 500;
	font-size: 16px;
}

.invoice-wrap .field-wrap:last-child {
	border-bottom: none;
}
.invoice-wrap .right {
	background-color: #fefefe;
	height: 100%;
	border-radius: 0 5px 5px 0;
  padding: 1.5rem;
}
.invoice-wrap .logo-header{
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #97a2ad57;
  padding-bottom: 1rem;
}

/*================= UPDATE PAGES ==================*/

.update-card-wrap{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem  ;
}
.card3{
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  flex-direction: row;
  align-items: center;
  text-align: center;
  /* background: linear-gradient(45deg, rgb(0, 16, 237), rgb(1, 132, 255)); */
}
.card3 .bx{
  font-size: 4.5rem;
  margin-right: .5rem;
}
.card3 label{
  display: block;
  padding: .5rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.update-btn{
  padding: 1rem .5rem;
  background-color: var(--metal);
  color: #fff;
  border: 2px solid transparent;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: .2rem;
  transition: .5s ease-in-out;
  margin-top: 15px ;
}
.update-btn:hover{
  background-color: transparent;
  color: var(--metal);
  border-top-color: var(--metal);
  border-bottom-color: var(--metal);
}

/*========= BANNER MANAGEMENT ==========*/
.add-banner-header{
  font-size: 2rem;
  align-items: center;
  padding: .5rem 0;
}
.add-banner-header .title{
  font-size: 1.2rem;
  font-weight: 700;
}
.add-banner-body{
  box-shadow: inset 0 0 10px rgb(1 41 112 / 10%);
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
.add-banner-inp-wrap{
 grid-template-columns: 1fr 2fr;
 margin-bottom: 1rem;
 align-items: center;
}
.add-banner-inp{
  border: none;
  border-bottom: 2px solid var(--primary-blue);
  outline: none;
  padding: .4rem;
}
.add-banner-body .right{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imge-preview-wrap{
  max-width: 16rem;
  height: 8rem;
  background-color: red;
  margin: 1rem 0;
}
.add-banner-sec{
  position: absolute;
  width: 100%;
  top: -50rem;
  left: 0;
  transition: .5s ease;
}
.add-banner-sec.active{
  top: 0;
}
/* table3 */
.table3{
  text-align: center;
}
.table3 th{
  background-color: var(--blue);
  padding: .5rem;
  border-radius: 5px;
  color: var(--white);
}
.table3 td{
  font-size: 14px;
  padding: 5px 0 0;  
}