<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One-Roof-Groceries</title>
    <link rel="icon" href="/images/logo/icon.png" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <%- include('../includes/managerNavbar.ejs') %>
    <main id="adminMain">

        <div class="cards-warp">
            
                <div class="card card2">
                    <div>
                        <i class='bx bxl-flutter'></i>
                    </div>
                    <div class="">
                        <p>test</p>
                        <h3>Manage</h3>
                    </div>
                </div>
                <div class="card card2">
                    <i class='bx bx-file-find'></i>
                    <h3>search</h3>
                </div>
                <div class="card card2">gdsghghdfs</div>
            
        </div>



    </main>



    <script src="/js/main.js"></script>
</body>
</html>